
<!doctype html>
<html lang="en-US">
<head>

	<!-- Meta -->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="CV & Resume Template" />
	<meta name="keywords" content="vcard, resposnive, resume, personal, card, cv, cvio, portfolio" />
	<meta name="author" content="beshleyua" />

	<!-- Title -->
	<title>Jace Walker</title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic" rel="stylesheet">

	<!-- Styles -->
	<link rel="stylesheet" href="css/basic.css" />
	<link rel="stylesheet" href="css/layout.css" />
	<link rel="stylesheet" href="css/magnific-popup.css" />
	<link rel="stylesheet" href="css/animate.css" />
	<link rel="stylesheet" href="css/jarallax.css" />
	<link rel="stylesheet" href="css/swiper.css" />
	<link rel="stylesheet" href="css/fontawesome.css" />
	<link rel="stylesheet" href="css/brands.css" />
	<link rel="stylesheet" href="css/solid.css" />

	<!-- Theme Colors
	<link rel="stylesheet" href="css/theme-colors/blue.css" />
	<link rel="stylesheet" href="css/theme-colors/green.css" />
	<link rel="stylesheet" href="css/theme-colors/orange.css" />
	<link rel="stylesheet" href="css/theme-colors/brown.css" />
	<link rel="stylesheet" href="css/theme-colors/purple.css" />
	<link rel="stylesheet" href="css/theme-colors/red.css" />
	<link rel="stylesheet" href="css/theme-colors/beige.css" />
	<link rel="stylesheet" href="css/theme-colors/green_light.css" />
	<link rel="stylesheet" href="css/theme-colors/yellow.css" />
	<link rel="stylesheet" href="css/theme-colors/yellow_light.css" />
	-->
		
	<!--[if lt IE 9]>
	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="shortcut icon" href="images/favicons/favicon.ico">

</head>

<body>

	<!-- Preloader -->
	<div class="preloader">
		<div class="centrize full-width">
			<div class="vertical-center">
				<div class="spinner">
					<div class="double-bounce1"></div>
					<div class="double-bounce2"></div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Container -->
	<div class="container">

		<!-- Cursor -->
		<div class="cursor-follower"></div>
	
		<!-- Header -->
		<header class="header">
			<div class="head-top">

				<!-- menu button -->
				<a href="#" class="menu-btn"><span></span></a>

				<!-- logo -->
				<div class="logo hover-masks-logo">
					<a href="#">
						<span class="mask-lnk">Jace <strong>Walker</strong></span>
						<span class="mask-lnk mask-lnk-hover">Download <strong>CV</strong></span>
					</a>
				</div>
				
				<!-- top menu -->						
				<div class="top-menu hover-masks">
					<div class="top-menu-nav">	
						<div class="menu-topmenu-container">
							<ul class="menu">
								<li class="menu-item">
									<a href="index.html">Home</a>
								</li>
								<li class="menu-item current-menu-item">
									<a href="resume.html">Resume</a>
								</li>
								<!-- <li class="menu-item">
									<a href="works_creative.html">Works</a>
								</li> -->
								<li class="menu-item">
									<a href="contacts.html">Contact</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</header>
		
		<!-- Wrapper -->
		<div class="wrapper">

			<!-- Section Started -->
			<div class="section started layout-creative" id="section-started">

				<!-- background -->
				<div class="video-bg">
					<div class="video-bg-mask"></div>
					<div class="video-bg-texture" id="grained_container"></div>
				</div>

				<!-- started content -->
				<div class="centrize full-width">
					<div class="vertical-center">
						<div class="started-content">
							<h1 class="h-title">Resume</h1>
							<div class="h-subtitles">
								<div class="h-subtitle typing-bread">
									<p class="breadcrumbs">
										<a href="index.html">Home</a> / Resume
									</p>
								</div>
								<span class="typed-bread"></span>
							</div>
						</div>
					</div>
				</div>

				<!-- mosue button -->
				<a href="#" class="mouse_btn" style="display: none;"><span class="icon fas fa-chevron-down"></span></a>

			</div>

			<!-- Section About -->
			<div class="section about" id="section-about">
				<div class="content content-box">

					<!-- image -->
					<div class="image">
						<img src="images/jacewalker.jpeg" alt="" />
					</div>

					<!-- desc -->
					<div class="desc">
						<p>Hello! I’m Jace Walker. A Senior Project Engineer from Melbourne, Australia. I have extensive experience in Microsoft services such as Office 365 and Azure, also I am a passionate Swift developer.</p>
						<div class="info-list">
							<ul>
								<li><strong>Age:</strong> 23</li>
								<li><strong>Residence:</strong> Melbourne</li>
								<li><strong>Freelance:</strong> Available</li>
								<li><strong>Address:</strong> Ringwood North</li>
								<li><strong>Phone:</strong> 0400 301 207</li>
								<li><strong>E-mail:</strong> jc@jcwlkr.io</li>
							</ul>
						</div>
						<div class="bts">
							<a href="#" class="btn hover-animated">
								<span class="circle"></span>
								<span class="lnk">Download CV</span>
							</a>
						</div>
					</div>

					<div class="clear"></div>
				</div>
			</div>

			<!-- Section Service -->
			<div class="section service" id="section-services">
				<div class="content">

					<!-- title -->
					<div class="title">
						<div class="title_inner">Services</div>
					</div>

					<!-- service items -->
					<div class="service-items">

						<div class="service-col">
							<div class="service-item content-box">
								<div class="icon"><span class="fas fa-code"></span></div>
								<div class="name">WordPress Design</div>
								<div class="text">Modern and mobile-ready website that will help you reach all of your marketing.</div>
							</div>
						</div>

						<div class="service-col">
							<div class="service-item content-box">
								<div class="icon"><span class="fas fa-camera"></span></div>
								<div class="name">Website Security Consultation</div>
								<div class="text">Our in-house photography services team made up of professional photographers.</div>
							</div>
						</div>

						<div class="service-col">
							<div class="service-item content-box">
								<div class="icon"><span class="fas fa-mobile-alt"></span></div>
								<div class="name">iOS Development</div>
								<div class="text">Building mobile apps is a passion, let's have a chat about your project.</div>
							</div>
						</div>
					</div>

					<div class="clear"></div>
				</div>
			</div>

			<!-- Section Pricing -->
			<div class="section pricing" id="section-pricing">
				<div class="content">

					<!-- title -->
					<div class="title">
						<div class="title_inner">Pricing</div>
					</div>

					<!-- pricing items -->
					<div class="pricing-items">

						<div class="pricing-col">
							<div class="pricing-item content-box">
								<div class="icon">
									<span class="fas fa-star"></span>
								</div>
								<div class="name">Freelance</div>
								<div class="amount">
									<span class="number">
										<span class="dollar">$</span>
										<span>80</span>
										<span class="period">hour</span>
									</span>
								</div>
								<div class="feature-list">
									<ul>
										<li>WordPress Design</li>
										<li>Security Consultation</li>
										<li>Website Malware Removal</li>
										<li>iOS Development</li>
										<li>Building in Azure</li>
									</ul>
								</div>
								<div class="bts">
									<a href="#" class="btn hover-animated">
										<span class="circle"></span>
										<span class="lnk">Enquire Now</span>
									</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<!-- Section Resume -->
			<div class="section resume" id="section-history">
				<div class="content">
					<div class="cols">

						<div class="col col-md">

							<!-- title -->
							<div class="title">
								<div class="title_inner">Experience</div>
							</div>
							
							<!-- resume items -->
							<div class="resume-items">
								
								<div class="resume-item content-box active">
									<div class="date">2020 - Present</div>
									<div class="name">Senior Systems Engineer - Otto IT</div>
									<div class="text">I am responsible for managing the company's internal systems along with providing third tier support to junior staff on a day-to-day basis. 
										This role led into the Professional Services space which allows me to implement new and secure solutions for our clients.</div>
										<ul>
											<li id="listCaption">Responsibilities</li> 
											<li> Data Center tech-hands </li>
											<li> Azure Management</li>
											<li> Internal System Administration & Support</li>
											<li> cPanel/WHM Administration</li>
											<li> Security Risk Assessments</li>
											<li> Sales Scoping</li>
										</ul>
										<ul>
											<li id="listCaption">Projects</li>
											<li> VMWare and Hyper-V migration to Azure </li>
											<li> Physical server migration to VMWare vCenter </li>
											<li> File Share migration to SharePoint</li>
											<li> File Share migration to Azure Files</li>
											<li> Network re-design, segregation and installation</li>
											<li> Intune & Azure AD rollout</li>
											<li> Hybrid Azure AD rollout</li>
											<li> VoIP Migrations</li>
										</ul>
								</div>

								<div class="resume-item content-box">
									<div class="date">2020 - 2021</div>
									<div class="name">Service Delivery Manager - Milan Industries</div>
									<div class="text">Managing a team of 7 in a fast-paced MSP was exciting and demanding. 
										I managed staff KPIs and training, budgets, meeting SLAs and client expectations. 
										</div>
										<br>
										<div>
										During this time, Milan Industries merged with DWM Solutions which required me to adopt new strategies, tools and staff bringing the team to 16. 
										This was an exciting few months as I facilitated the merge of our systems and processes.</div>
								</div>

								<div class="resume-item content-box">
									<div class="date">2019 - 2020</div>
									<div class="name">Helpdesk Consultant - Milan Industries</div>
									<div class="text">Provided Level 1 & 2 technical support to end-users through our internal ticketing system.</div>
									<br>
									<div>
										<li id="listCaption">Responsibilities</li>
										<li> Mobile, Desktop & Server Support</li>
										<li> VoIP, Office 365 and Website Support</li>
										<li> On-site support</li>
									</div>
								</div>

								<div class="resume-item content-box">
									<div class="date">2017 - 2018</div>
									<div class="name">Security Operations Center: Team Leader - Fraudwatch International</div>
									<div class="text">Managing the morning shift SOC team of approximately 5 staff. This role required ongoing training of junior staff, guidance and escalation management.</div>
								</div>

								<div class="resume-item content-box">
									<div class="date">2016 - 2017</div>
									<div class="name">Security Operations Center - Fraudwatch International</div>
									<div class="text">As a member of the SOC, I was responsible for identification and takedown of:</div>
									<ul>
										<li>Phishing</li>
										<li>Malware</li>
										<li>Voice & SMS Phishing</li>
										<li>Copyright & Trademark abuse</li>
									</ul>
									<div>This required PhishKit investigation and trend analysis to remain ontop of cybercriminals.</div>
								</div>

							</div>

						</div>
						
						<div class="col col-md">

							<!-- title -->
							<div class="title">
								<div class="title_inner">Education</div>
							</div>
							
							<!-- resume items -->
							<div class="resume-items">

								<div class="resume-item content-box">
									<div class="date">2021</div>
									<div class="name">MS-100: Microsoft 365 Identity and Services</div>
									<div class="text">Certified to evaluate, plan, migrate, deploy, and manage Microsoft 365 services.</div>
								</div>

								<div class="resume-item content-box">
									<div class="date">2020</div>
									<div class="name">cPanel Professional</div>
									<div class="text">Coursework - Git, WordPress, Javascript, iOS, Android, CSS, and JavaScript.</div>
								</div>
								
								<div class="resume-item content-box">
									<div class="date">2019</div>
									<div class="name">iOS App Developement - RMIT University</div>
									<div class="text">Bachelors Degree in Computer Science ABC Technical Institute, Jefferson, Missouri.</div>
								</div>

								<div class="resume-item content-box">
									<div class="date">2015</div>
									<div class="name">Victorian Certificate of Education - Yarra Valley Grammar</div>
									<div class="text">Studying ICT, Software Development, English and Maths.</div>
								</div>

							</div>
						</div>

					</div>
				</div>
			</div>

			<!-- Section Design Skills -->
			<div class="section skills" id="section-skills">
				<div class="content">

					<!-- title -->
					<div class="title">
						<div class="title_inner">Skills</div>
					</div>

					<!-- skills items -->
					<div class="skills percent content-box">
						<ul>
							<li> 
								<div class="name">cPanel / WHM</div>
								<div class="progress ">
									<div class="percentage" style="width: 92%;">
										<span class="percent">92%</span>
									</div>
								</div>
							</li>
							<li> 
								<div class="name">Azure Active Directory</div>
								<div class="progress ">
									<div class="percentage" style="width: 90%;">
										<span class="percent">90%</span>
									</div>
								</div>
							</li>
							<li>
								<div class="name">Active Directory</div>
								<div class="progress ">
									<div class="percentage" style="width: 83%;">
										<span class="percent">83%</span>
									</div>
								</div>
							</li>
							<li>
								<div class="name">Group Policy</div>
								<div class="progress ">
									<div class="percentage" style="width: 87%;">
										<span class="percent">87%</span>
									</div>
								</div>
							</li>
							<li>
								<div class="name">Networking</div>
								<div class="progress ">
									<div class="percentage" style="width: 80%;">
										<span class="percent">80%</span>
									</div>
								</div>
							</li>
							<li>
								<div class="name">FortiGate Firewalls</div>
								<div class="progress ">
									<div class="percentage" style="width: 89%;">
										<span class="percent">89%</span>
									</div>
								</div>
							</li>
							<li>
								<div class="name">VoIP</div>
								<div class="progress ">
									<div class="percentage" style="width: 92%;">
										<span class="percent">92%</span>
									</div>
								</div>
							</li>
							<li> 
								<div class="name">Windows Hyper-V</div>
								<div class="progress ">
									<div class="percentage" style="width: 85%;">
										<span class="percent">85%</span>
									</div>
								</div>
							</li>
							<li> 
								<div class="name">VMWare ESXi</div>
								<div class="progress ">
									<div class="percentage" style="width: 75%;">
										<span class="percent">75%</span>
									</div>
								</div>
							</li>
							<li>
								<div class="name">IPsec, WireGuard, L2TP/PPTP</div>
								<div class="progress ">
									<div class="percentage" style="width: 90%;">
										<span class="percent">90%</span>
									</div>
								</div>
							</li>
						</ul>
					</div>

				</div>
			</div>

			<!-- Section Languages Skills -->
			<div class="section skills" id="section-skills-lang">
				<div class="content">

					<!-- title -->
					<div class="title">
						<div class="title_inner">Languages Skills</div>
					</div>

					<!-- skills items -->
					<div class="skills dotted content-box">
						<ul>
							<li> 
								<div class="name">English</div>
								<div class="progress">
									<div class="percentage" style="width: 98%;">
										<span class="percent">98%</span>
									</div>
								</div>
							</li>
							<li> 
								<div class="name">Australian Sign Language</div>
								<div class="progress">
									<div class="percentage" style="width: 40%;">
										<span class="percent">40%</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>

			</div>

			<!-- Section Coding Skills -->
			<div class="section skills" id="section-skills-code">
				<div class="content">
					
					<!-- title -->
					<div class="title">
						<div class="title_inner">DevOps Skills</div>
					</div>

					<!-- skills items -->
					<div class="skills circles content-box">
						<ul>
							<li> 
								<div class="name">Docker</div>
								<div class="progress p80"> <!-- p90 = 90% circle fill color -->
									<div class="percentage">
										<span class="percent">80%</span>
									</div>
									<span>80%</span>
								</div>
							</li>
							<li> 
								<div class="name">Kubernetes</div>
								<div class="progress p30"> <!-- p90 = 90% circle fill color -->
									<div class="percentage">
										<span class="percent">30%</span>
									</div>
									<span>30%</span>
								</div>
							</li>
							<li> 
								<div class="name">Azure</div>
								<div class="progress p75"> <!-- p95 = 95% circle fill color -->
									<div class="percentage">
										<span class="percent">75%</span>
									</div>
									<span>75%</span>
								</div>
							</li>
							<li> 
								<div class="name">Swift</div>
								<div class="progress p70"> <!-- p75 = 75% circle fill color -->
									<div class="percentage">
										<span class="percent">70%</span>
									</div>
									<span>70%</span>
								</div>
							</li>
							<li> 
								<div class="name">Ruby</div>
								<div class="progress p65"> <!-- p85 = 85% circle fill color -->
									<div class="percentage">
										<span class="percent">65%</span>
									</div>
									<span>65%</span>
								</div>
							</li>
							<li> 
								<div class="name">HTML / CSS</div>
								<div class="progress p35"> <!-- p95 = 95% circle fill color -->
									<div class="percentage">
										<span class="percent">35%</span>
									</div>
									<span>35%</span>
								</div>
							</li>
							<li> 
								<div class="name">Terraform</div>
								<div class="progress p50"> <!-- p95 = 95% circle fill color -->
									<div class="percentage">
										<span class="percent">50%</span>
									</div>
									<span>50%</span>
								</div>
							</li>
							<li> 
								<div class="name">PowerShell</div>
								<div class="progress p72"> <!-- p95 = 95% circle fill color -->
									<div class="percentage">
										<span class="percent">72%</span>
									</div>
									<span>72%</span>
								</div>
							</li>
							
						</ul>
					</div>

				</div>
			</div>

			<!-- Section Knowladge Skills -->
			<div class="section skills" id="section-skills-know">
				<div class="content">

					<!-- title -->
					<div class="title">
						<div class="title_inner">Knowledge</div>
					</div>

					<!-- skills -->
					<div class="skills list content-box">
						<ul>
							<li> 
								<div class="name">Website Hosting</div>
							</li>
							<li> 
								<div class="name">Website Security</div>
							</li>
							<li> 
								<div class="name">Email Security</div>
							</li>
							<li> 
								<div class="name">iOS App Development</div>
							</li>
							<li> 
								<div class="name">Windows Server</div>
							</li>
							<li> 
								<div class="name">How to Google</div>
							</li>
							<li> 
								<div class="name">Routing, Switching and DNS</div>
							</li>
						</ul>
					</div>

				</div>
			</div>

			<!-- Section Interests -->
			<div class="section service" id="section-interests">
				<div class="content">

					<!-- title -->
					<div class="title">
						<div class="title_inner">Interests</div>
					</div>

					<!-- interests items -->
					<div class="service-items">

						<div class="service-col">
							<div class="service-item content-box">
								<div class="icon"><span class="fas fa-gamepad"></span></div>
								<div class="name">Gaming</div>
								<div class="text">PS5 and PC gaming here and there, a way to kill time.</div>
							</div>
						</div>

						<div class="service-col">
							<div class="service-item content-box">
								<div class="icon"><span class="fas fa-campground"></span></div>
								<div class="name">Photography</div>
								<div class="text">Sony a7iii and aerial photography with my DJI drone.</div>
							</div>
						</div>

						<div class="service-col">
							<div class="service-item content-box">
								<div class="icon"><span class="fas fa-chess-knight"></span></div>
								<div class="name">Home lab</div>
								<div class="text">Docker running at home managing DNS, Unifi Controller and a few other little apps.</div>
							</div>
						</div>

						<div class="service-col">
							<div class="service-item content-box">
								<div class="icon"><span class="fas fa-headphones"></span></div>
								<div class="name">Netflix and Stan!</div>
								<div class="text">The Office, Squid Game, Billions and Power - just to name a few recent ones.</div>
							</div>
						</div>

					</div>

					<div class="clear"></div>
				</div>
			</div>

		
		<!-- Footer -->
		<footer class="footer">
			<div class="copy">
				<p>E: jc@jcwlkr.io</p>
				<p>T: 0400 301 207</p>
			</div>
			<div class="soc-box">
				<div class="follow-label">Follow Me</div>
				<div class="soc">
					<a target="_blank" href="https://www.pinterest.com/">
						<span class="icon fab fa-pinterest"></span>
					</a>
					<a target="_blank" href="https://www.instagram.com/">
						<span class="icon fab fa-instagram"></span>
					</a>
					<a target="_blank" href="https://dribbble.com/">
						<span class="icon fab fa-dribbble"></span>
					</a>
				</div>
			</div>
			<div class="clear"></div>
		</footer>

		<!-- Lines -->
		<div class="lines">
			<div class="line-col"></div>
			<div class="line-col"></div>
			<div class="line-col"></div>
			<div class="line-col"></div>
			<div class="line-col"></div>
		</div>
		
	</div>

	<!-- Scripts -->
	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.validate.js"></script>
	<script src="js/magnific-popup.js"></script>
	<script src="js/simpleParallax.js"></script>
	<script src="js/typed.js"></script>
	<script src="js/jarallax.js"></script>
	<script src="js/jarallax-video.js"></script>
	<script src="js/jarallax-element.js"></script>
	<script src="js/imagesloaded.pkgd.js"></script>
	<script src="js/isotope.pkgd.js"></script>
	<script src="js/swiper.js"></script>
	<script src="js/grained.js"></script>
	<script src="js/scripts.js"></script>

</body>
</html>